<?xml version="1.0" encoding="gb2312"?>
<HTML>
<BODY bgColor="#ffffff" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0"><!-- ImageReady Slices (login2008.psd) --><BR /><BR /><BR /><BR /><BR /><BR />
<TABLE id="__01" height="365" cellSpacing="0" cellPadding="0" width="696" align="center" border="0">
  <TBODY>
  <TR>
    <TD><IMG height="36" alt="" src="default_files/login2008_01.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_02.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="36" alt="" src="default_files/login2008_03.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_04.gif" width="100" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_05.gif" width="99" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_06.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="36" alt="" src="default_files/login2008_07.gif" width="99" /></TD></TR>
  <TR>
    <TD><IMG height="37" alt="" src="default_files/login2008_08.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="37" alt="" src="default_files/login2008_09.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="37" alt="" src="default_files/login2008_10.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="37" alt="" src="default_files/login2008_11.gif" width="100" /></TD>
    <TD><IMG height="37" alt="" src="default_files/login2008_12.gif" width="99" /></TD>
    <TD><IMG height="37" alt="" src="default_files/login2008_13.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="37" alt="" src="default_files/login2008_14.gif" width="99" /></TD></TR>
  <TR>
    <TD rowSpan="2"><IMG height="36" alt="" src="default_files/login2008_15.gif" width="99" /></TD>
    <TD colSpan="2" rowSpan="2"><IMG height="36" alt="" src="default_files/login2008_16.gif" width="100" /></TD>
    <TD colSpan="3" rowSpan="2"><IMG height="36" alt="" src="default_files/login2008_17.gif" width="99" /></TD>
    <TD colSpan="2" rowSpan="2"><IMG height="36" alt="" src="default_files/login2008_18.gif" width="100" /></TD>
    <TD rowSpan="2"><IMG height="36" alt="" src="default_files/login2008_19.gif" width="99" /></TD>
    <TD rowSpan="2"><IMG height="36" alt="" src="default_files/login2008_20.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="23" alt="" src="default_files/login2008_21.gif" width="99" /></TD></TR>
  <TR>
    <TD><IMG height="13" alt="" src="default_files/login2008_22.gif" width="9" /></TD>
    <TD colSpan="2"><IMG height="13" alt="注册新用户的企业信息" onclick="alert('注册')" style="cursor:hand" src="default_files/login2008_23.gif" width="69" /></TD>
    <TD><IMG height="13" alt="" src="default_files/login2008_24.gif" width="21" /></TD></TR>
  <TR>
    <TD><IMG height="37" alt="" src="default_files/login2008_25.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="37" alt="" src="default_files/login2008_26.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="37" alt="" src="default_files/login2008_27.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="37" alt="" src="default_files/login2008_28.gif" width="100" /></TD>
    <TD><IMG height="37" alt="" src="default_files/login2008_29.gif" width="99" /></TD>
    <TD><IMG height="37" alt="" src="default_files/login2008_30.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="37" alt="" src="default_files/login2008_31.gif" width="99" /></TD></TR>
  <TR>
    <TD><IMG height="36" alt="" src="default_files/login2008_32.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_33.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="36" alt="" src="default_files/login2008_34.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_35.gif" width="100" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_36.gif" width="99" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_37.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="36" alt="" src="default_files/login2008_38.gif" width="99" /></TD></TR>
  <TR>
    <TD><IMG height="36" alt="" src="default_files/login2008_39.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_40.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="36" alt="" src="default_files/login2008_41.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_42.gif" width="100" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_43.gif" width="99" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_44.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="36" alt="" src="default_files/login2008_45.gif" width="99" /></TD></TR>
  <TR>
    <TD rowSpan="2"><IMG height="37" alt="" src="default_files/login2008_46.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="16" alt="" src="default_files/login2008_47.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="16" alt="" src="default_files/login2008_48.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="16" alt="" src="default_files/login2008_49.gif" width="100" /></TD>
    <TD rowSpan="2"><IMG height="37" alt="" src="default_files/login2008_50.gif" width="99" /></TD>
    <TD rowSpan="2"><IMG height="37" alt="" src="default_files/login2008_51.gif" width="100" /></TD>
    <TD colSpan="4" rowSpan="2"><IMG height="37" alt="" src="default_files/login2008_52.gif" width="99" /></TD></TR>
  <TR>
    <TD><IMG height="21" alt="" src="default_files/login2008_53.gif" width="12" /></TD>
    <TD colSpan="2">
        <input id="tbUserAccount" name="tbUserAccount" onkeydown="if(event.keyCode==13) event.keyCode=9" size="12" style="width: 100%; height: 100%" /></TD>
    <TD><IMG height="21" alt="" src="default_files/login2008_55.gif" width="55" /></TD>
    <TD colSpan="2">
        <input id="tbPassword" autocomplete="off" name="tbPassword" onkeydown="setfocus(event.keyCode);" size="17" style="width: 100%; height: 100%" tabindex="0" type="password" /></TD>
    <TD><IMG height="21" alt="" src="default_files/login2008_57.gif" width="6" /></TD></TR>
  <TR>
    <TD><IMG height="36" alt="" src="default_files/login2008_58.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_59.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="36" alt="" src="default_files/login2008_60.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_61.gif" width="100" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_62.gif" width="99" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_63.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="36" alt="" src="default_files/login2008_64.gif" width="99" /></TD></TR>
  <TR>
    <TD rowSpan="3"><IMG height="37" alt="" src="default_files/login2008_65.gif" width="99" /></TD>
    <TD colSpan="2" rowSpan="3"><IMG height="37" alt="" src="default_files/login2008_66.gif" width="100" /></TD>
    <TD colSpan="3" rowSpan="3"><IMG height="37" alt="" src="default_files/login2008_67.gif" width="99" /></TD>
    <TD colSpan="2" rowSpan="3"><IMG height="37" alt="" src="default_files/login2008_68.gif" width="100" /></TD>
    <TD rowSpan="3"><IMG height="37" alt="" src="default_files/login2008_69.gif" width="99" /></TD>
    <TD rowSpan="3"><IMG height="37" alt="" src="default_files/login2008_70.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="14" alt="" src="default_files/login2008_71.gif" width="99" /></TD></TR>
  <TR>
    <TD colSpan="2" rowSpan="2"><IMG height="23" alt="" src="default_files/login2008_72.gif" width="19" /></TD>
    <TD><input id="btOK" border="0" name="btOK" src="default_files/login2008_73.gif" style="width: 100%;height: 22px" type="image" /></TD>
    <TD rowSpan="2"><IMG height="23" alt="" src="default_files/login2008_74.gif" width="21" /></TD></TR>
  <TR>
    <TD><IMG height="1" alt="" src="default_files/login2008_75.gif" width="59" /></TD></TR>
  <TR>
    <TD><IMG height="36" alt="" src="default_files/login2008_76.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_77.gif" width="100" /></TD>
    <TD colSpan="3"><IMG height="36" alt="" src="default_files/login2008_78.gif" width="99" /></TD>
    <TD colSpan="2"><IMG height="36" alt="" src="default_files/login2008_79.gif" width="100" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_80.gif" width="99" /></TD>
    <TD><IMG height="36" alt="" src="default_files/login2008_81.gif" width="100" /></TD>
    <TD colSpan="4"><IMG height="36" alt="" src="default_files/login2008_82.gif" width="99" /></TD></TR>
  <TR>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="99" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="12" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="88" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="25" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="55" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="19" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="94" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="6" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="99" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="100" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="9" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="10" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="59" /></TD>
    <TD><IMG height="1" alt="" src="default_files/分隔符.gif" width="21" /></TD></TR></TBODY></TABLE></BODY></HTML>