<?xml version="1.0" encoding="gb2312"?>
<html>
  <body>
    <Control class="" catalog="Chart.ascx" itemname="" id="DetailChart" name="">ControlTest
			<Property name="width" value="769" /><Property name="height" value="410px" /><Property name="visible" value="true" /><Property name="hiddenhead" value="true" /></Control>
    <div style="height: 420px;OVERFLOW: auto; width:780px">
      <Control class="" catalog="GridPagEdit.ascx" itemname="" id="DetailTab" name="">ControlTest
			<Property name="width" value="" /><Property name="height" value="390px" /><Property name="visible" value="true" /><Property name="hiddenhead" value="false" /></Control>
    </div>
  </body>
</html>