<?xml version="1.0" encoding="gb2312" ?>
<html>
	<body>
				<p style="margin: -1"></p>
		<div style="OVERFLOW: auto">
		<Control class="" catalog="GridLand.ascx" itemname="" id="xmlLandGrid" name="">ControlTest<Property name="tpfile" value="ControlTemplate/GridCheck.htm" />
			<Property name="width" value="789px" /><Property name="height" value="381px" /><Property name="hiddenhead" value="false" />
			<Property name="ctrlalert" value="s_code" /><Property name="hiddengrid" value="false" />
		</Control>
		</div>
	</body>
</html>