.Btn:focus:unknown {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-COLOR: transparent
}
.Btn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; BORDER-LEFT: #000 1px solid; CURSOR: hand; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #fff
}
.BtnNml {
	BACKGROUND-POSITION: 0px -96px
}
.BtnNmlNF {
	BACKGROUND-POSITION: 0px -96px;BORDER-LEFT-STYLE: none; BORDER-RIGHT-STYLE:none;BORDER-TOP-STYLE:none;
	BORDER-RIGHT: #000 0px solid;BORDER-TOP: #000 0px solid;
}
.BtnHv {
	BACKGROUND-POSITION: 0px -128px
}
.Btn:hover {
	BACKGROUND-POSITION: 0px -128px
}
HTML > BODY .BtnDw {
	PADDING-RIGHT: 8px; PADDING-LEFT: 12px; PADDING-TOP: 2px
}
INPUT.BtnDw {
	BACKGROUND: #fff; COLOR: #000
}
.ImpBtn {
	FONT-WEIGHT: bold
}
BODY.All_C_Page {
	PADDING-RIGHT: 0px; OVERFLOW-Y: auto; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 7px 13px; PADDING-TOP: 0px
}
.ContentWp {
	MARGIN: 0px
}
.gToolbar {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: 0px -1568px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; LINE-HEIGHT: 22px; 	PADDING-TOP: 3px; HEIGHT: 22px; BACKGROUND-COLOR: #eee
}
.gToolbar .Btn {
	FLOAT: left; MARGIN-RIGHT: 3px
}
.gToolbar .BtnHv {
	FLOAT: left; MARGIN-RIGHT: 3px
}
.gToolbar .ABtn {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .ImpBtn {
	MARGIN-RIGHT: 16px
}
HTML > BODY .gToolbar .Sel {
	MARGIN-TOP: 3px
}
HTML > BODY .gToolbar .SelA {
	MARGIN-TOP: 3px
}
.gToolbar .Sel {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 94px; MARGIN-RIGHT: 10px
}
.gToolbar .SelA {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 94px; MARGIN-RIGHT: 10px
}
.gToolbar .SelA {
	WIDTH: auto
}
.SelOptLine {
	COLOR: #ccc
}
.SelInTT {
	COLOR: #999
}
.gToolbar .Ipt {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .IptA {
	MARGIN-TOP: 9px; FLOAT: left; MARGIN-RIGHT: 10px;BORDER-BOTTOM: #ccc 1px solid;BORDER-LEFT-STYLE: none; BORDER-RIGHT-STYLE:none;BORDER-TOP-STYLE:none;
}
.gToolbar .IptOnF {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .Txt {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.gToolbar .Extra {
	FLOAT: right; WHITE-SPACE: nowrap
}
.gToolbar .gSchBar {
	MARGIN-TOP: 2px
}
.gTbrTop {
	
}
.gTbrBtm {
	
}


.SearchBar {
	DISPLAY: block; RIGHT: 9px; WIDTH: 200px; POSITION: absolute; TOP: 10px; HEIGHT: 20px; TEXT-ALIGN: right
}
.SchBtn {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -512px 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 22px; CURSOR: hand; BORDER-BOTTOM: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
.SchMenuBtn {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: -512px 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 22px; CURSOR: hand; BORDER-BOTTOM: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
.SchMenuBtn {
	BACKGROUND-POSITION: -534px 0px; WIDTH: 12px
}
.SchBtnHv {
	BACKGROUND-POSITION: -512px -64px
}
.SchBtn:hover {
	BACKGROUND-POSITION: -512px -64px
}
.SchMenuBtnHv {
	BACKGROUND-POSITION: -534px -64px
}
.SchMenuBtn:hover {
	BACKGROUND-POSITION: -534px -64px
}
.SearchBar .Ipt {
	BORDER-RIGHT: medium none; HEIGHT: 20px
}
.SearchBar .IptOnF {
	BORDER-RIGHT: medium none; HEIGHT: 20px
}
.SearchBar .Ipt {
	COLOR: #999
}

.fRi {
	FLOAT: right
}

.Ipt {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial; HEIGHT: 21px; BACKGROUND-COLOR: #fff
}
.IptOnF {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial; HEIGHT: 21px; BACKGROUND-COLOR: #fff
}
.IptNml {
	
}
.IptOnF {
	COLOR: #000; BACKGROUND-COLOR: #ffffe1
}
