<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>查阅</title>
<script language="javascript">
	function init()
	{
		document.getElementById("txtmemo").innerText=window.dialogArguments;
	}
	function cmdOK()
	{
		var result = confirm("关闭前是否保存数据 ?  ");
		if(result) 
			window.returnValue=document.getElementById("txtmemo").innerText;
		window.close();
		
	}														

</script>
</head>

<body leftMargin=0 topMargin=0 scroll=no  onload="init()" onbeforeunload="cmdOK();">
<textarea id="txtmemo" style="width:100%;height:100%"  wrap=soft ></textarea>
</body>

</html>